.about {
  padding: 0 var(--side-offset, 20px);
  padding-top: 60px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: #f8fdff;
  justify-content: space-between;

  @media (max-width: 1023px) {
    padding-top: 35px;
    padding-bottom: 80px;
  }

  @media (max-width: 768px) {
    display: flex;
    padding-top: 25px;
  }
}

.about__left-side {
  margin-top: 5px;
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.about__image {
  min-width: 150px;
  display: block;
}

.about__right-side {
  margin-left: 6px;
  max-width: 970px;

  @media (max-width: 1023px) {
    margin-left: 25px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.about h3 {
  margin: 0;
  margin-bottom: 14px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #041827;

  @media (max-width: 1023px) {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 51px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 140.62%;
    margin: 0;
  }
}

.about p {
  margin: 0;
  font-weight: 400;
  line-height: 22px;
  color: #041827;

  @media (max-width: 1023px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: 768px) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about p + p {
  margin-top: 20px;
}

.about__trigger {
  margin-top: 39px;
  width: 100%;
  max-width: 180px;
  padding: 15px 15px 12px 15px;
  font-family: $ff-accent;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  user-select: none;
  transition: 300ms;

  @media (max-width: 1023px) {
    margin-top: 16px;
    padding: 13px 19px 14px 19px;
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    max-width: 160px;
    padding: 8px 15px 12px 15px;
  }

  &:hover {
    color: #ffffffff;
    background: #00b2ff;
  }
}
