.about {
  padding: 0 var(--side-offset, 20px);
  margin-top: 121px;
  margin-bottom: 100px;
  display: flex;
  width: 100%;

  @media (max-width: 1024px) {
    margin-top: 75px;
    margin-bottom: 53px;
  }

  @media (max-width: 768px) {
    margin: 41px 0 85px 0;
  }
}

.about__left-side {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1024px) {
    margin-left: 8px;
  }
}

.about__right-side {
  margin-left: 100px;
  max-width: 970px;

  @media (max-width: 1024px) {
    margin-left: 25px;
    max-width: 495px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.about__image {
  @media (min-width: 1024px) {
    min-width: 150px;
    min-height: 320px;
  }
}

.about h3 {
  margin: 0;
  margin-bottom: 14px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #041827;

  @media (max-width: 1024px) {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 51px;
  }

  @media (max-width: 768px) {
    margin-bottom: 4px;
    font-size: 28px;
    margin: 0;
  }
}

.about p {
  margin: 0;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;

  @media (max-width: 1024px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about__trigger {
  margin-top: 12px;
  max-width: 160px;
  padding: 8px 15px 12px 15px;
  margin-bottom: 20px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  background: none;

  @media (min-width: 768px) {
    margin-top: 16px;
    max-width: 179px;
    padding: 13px 19px 14px 19px;
  }

  @media (min-width: 1024px) {
    margin-top: 39px;
  }
}
