.advantages {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 60px;
  background: #f8fdff;

  @media (max-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  gap: 30px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item {
  padding: 40px 40px;
  max-width: 595px;
  min-height: 300px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;

  &:nth-child(4n + 3) {
    min-height: 300px;
  }

  &:nth-child(4n) {
    min-height: 300px;
  }

  @media (max-width: 1024px) {
    padding: 40px 44px 35px 41px;
    margin: 0;

    &:nth-child(4n + 3) {
      min-height: 360px;
    }

    &:nth-child(4n) {
      min-height: 360px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 30px 35px 25px;
    min-height: 340px;

    &:nth-child(4n + 3) {
      min-height: 325px;
    }

    &:nth-child(4n) {
      min-height: 325px;
    }
  }

  &:hover {
    background: #00b2ff;
  }

  &:hover p {
    color: #f2f5f7;
  }

  &:hover h3 {
    color: #f2f5f7;
  }

  &:hover .advantages__icon {
    fill: #ffffff;
  }
}

.advantages__icon {
  display: block;
  margin: 0;
  margin-top: 4px;
  fill: #00b2ff;

  @media (max-width: 1024px) {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}

.advantages h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: $ff-accent;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #00b2ff;

  @media (max-width: 1024px) {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
    font-size: 20px;
  }
}

.advantages p {
  margin: 0;
  font-weight: 400;
  line-height: 135%;
  color: #041827;

  @media (max-width: 1024px) {
    margin-top: 4px;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 135%;
    margin-top: 14px;
  }
}
