.advantages {
  padding: 0 var(--side-offset, 20px);
}

.advantages__list {
  padding: 0;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  width: 100%;
  gap: 30px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item {
  padding: 45px 40px;
  max-width: 595px;
  width: 100%;
  min-height: 300px;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;

  &:nth-child(4n + 3) {
    min-height: 300px;
  }

  &:nth-child(4n) {
    min-height: 300px;
  }

  @media (max-width: 1024px) {
    padding: 36px 40px;
    min-height: 360px;
    margin: 0;

    &:nth-child(4n + 3) {
      min-height: 360px;
    }

    &:nth-child(4n) {
      min-height: 360px;
    }
  }

  @media (max-width: 768px) {
    min-height: 340px;

    &:nth-child(4n + 3) {
      min-height: 325px;
    }

    &:nth-child(4n) {
      min-height: 325px;
    }
  }

  &:hover {
    background: #00b2ff;
  }

  &:hover p {
    color: #f2f5f7;
  }

  &:hover h3 {
    color: #f2f5f7;
  }

  &:hover .advantages__icon {
    fill: #ffffff;
  }
}

.advantages__icon {
  margin: 0;
  margin-top: 4px;
  fill: #00b2ff;

  @media (min-width: 768px) {
    margin-top: 4px;
    margin-left: 4px;
  }

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.advantages h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #00b2ff;

  @media (min-width: 768px) {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    margin-top: 16px;
  }
}

.advantages p {
  margin: 0;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #041827;

  @media (min-width: 768px) {
    margin-top: 4px;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    margin-top: 14px;
  }
}
