.advantages {
  margin: 0 auto;
}

.advantages__container {
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 670px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    max-width: 1225px;
  }
}

.advantages__list {
  padding: 0;
  padding-left: 25px;
  margin: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: 768px) {
    margin-top: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: 320px 320px;
    gap: 30px;
  }

  @media (min-width: 1024px) {
    margin-top: 120px;
    margin-left: 0;
    grid-template-columns: 595px 595px;
  }
}

.advantages__item {
  margin-right: 29px;
  width: 100%;
  max-width: 270px;
  margin-bottom: 30px;
  min-height: 340px;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;

  &:nth-child(4n + 3) {
    min-height: 325px;
  }

  &:nth-child(4n) {
    min-height: 325px;
  }

  @media (min-width: 768px) {
    padding: 36px 40px;
    max-width: 320px;
    min-height: 360px;
    margin: 0;

    &:nth-child(4n + 3) {
      min-height: 360px;
    }

    &:nth-child(4n) {
      min-height: 360px;
    }
  }

  @media (min-width: 1024px) {
    padding: 45px 40px;
    max-width: 595px;
    min-height: 300px;

    &:nth-child(4n + 3) {
      min-height: 300px;
    }

    &:nth-child(4n) {
      min-height: 300px;
    }
  }

  &:hover {
    background: #00b2ff;
  }

  &:hover p {
    color: #f2f5f7;
  }

  &:hover h3 {
    color: #f2f5f7;
  }

  &:hover .advantages__icon {
    fill: #ffffff;
  }
}

.advantages__wrapper {
  padding: 25px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1024px) {
    padding: 0;
  }
}

.advantages__icon {
  margin: 0;
  margin-top: 4px;
  fill: #00b2ff;

  @media (min-width: 768px) {
    margin-top: 4px;
    margin-left: 4px;
  }

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #00b2ff;

  @media (min-width: 768px) {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    margin-top: 16px;
  }
}

.advantages__text {
  margin: 0;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #041827;

  @media (min-width: 768px) {
    margin-top: 4px;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    margin-top: 14px;
  }
}
