.footer-socials {
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 35px;
  }
}

.footer-socials__link {
  text-decoration: none;
}

.footer-socials__icon {
  transition: 300ms;

  &:hover {
    fill: #00b3ff;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.footer-socials__logo {
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.footer-socials__list {
  max-width: 215px;
  padding: 0;
  margin-top: 29px;
  margin-left: 10px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    margin: 0;
    align-items: center;
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-top: 15px;
    justify-content: start;
  }
}

.footer-socials__item {
  margin-right: 15px;

  @media (max-width: 1023px) {
    margin-right: 0;
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    margin-right: 5px;
  }
}
