.footer {
  background: #041827;

  @media (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 50px;
  }

  @media (min-width: 1024px) {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
  }
}

.footer__container {
  @media (min-width: 768px) {
    padding: 0 41px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    padding: 0;
    width: 100%;
    max-width: 1220px;
    display: flex;
  }
}

.footer__text {
  margin-top: 17px;
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  @media (min-width: 1024px) {
    justify-content: space-between;
    width: 100%;
  }
}
