.form {
  padding: 0 var(--side-offset, 20px);
  --grad-stop: 33.5%;
  display: grid;
  justify-content: end;

  background: {
    color: #00b3ff;
    image: url('../img/paperairplane.png'), linear-gradient(139deg, rgba(4, 24, 39, 0.5) var(--grad-stop), transparent var(--grad-stop));

    size: auto, 100%;
    repeat: no-repeat;

    position: 25% 241px, 0 0;
  }

  @media (max-width: 1440px) {
    background: #00b3ff;
  }

  @media (max-width: 1024px) {
    background: #00b3ff;
    padding-top: 46px;
    padding-bottom: 122px;
    justify-content: start;
  }

  @media (max-width: 768px) {
    justify-content: stretch;
    padding-bottom: 92px;
  }
}

.form__image {
  display: none;

  @media (min-width: 1024px) {
    position: relative;
    top: 245px;
    left: 8px;
    display: block;
  }
}

.form h3 {
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 159px 51px 0 0;
  color: #FFFFFF;

  @media (max-width: 1024px) {
    margin: 0;
    font-size: 36px;
    line-height: 51px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form p {
  padding: 0;
  margin: 0;
  margin-top: 11px;
  margin-left: 5px;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  @media (max-width: 1024px) {
    margin-top: 7px;
  }

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 134.4%;
    margin-left: 0;
  }
}

.form__items {
  display: grid;
  width: 100%;
  max-width: 580px;
  margin-top: 35px;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 35px;
  margin-left: 5px;
  margin-bottom: 253px;

  @media (max-width: 1024px) {
    max-width: 670px;
    margin-top: 27px;
    margin-left: 0;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    max-width: none;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }
}

.form__name input {
  width: 100%;
  padding: 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  max-width: 275px;

  &::placeholder {
    font-family: $ff-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    margin: 0;
    max-width: 320px;
  }

  @media (max-width: 768px) {
    max-width: none;
  }
}

.form__phone input {
  width: 100%;
  padding: 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  max-width: 275px;

  &::placeholder {
    font-family: $ff-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    margin: 0;
    max-width: 320px;
  }

  @media (max-width: 768px) {
    max-width: none;
  }
}

.form__question {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__question textarea {
  padding: 24px 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  width: 100%;
  max-width: 580px;
  min-height: 155px;

  &::placeholder {
    font-family: $ff-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    max-width: 670px;
    padding: 29px 15px;
  }

  @media (max-width: 768px) {
    max-width: none;
    min-height: 180px;
    padding: 25px 15px;
  }
}

.form__button {
  border: none;
  padding: 14px 25px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #041427;
  border-radius: 3px;
  width: 100%;
  max-width: 263px;
  margin-top: 9px;

  @media (max-width: 1024px) {
    margin-top: 6px;
    max-width: 265px;
  }

  @media (max-width: 768px) {
    margin-top: 4px;
  }
}

.form__evidence {
  margin: 0;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 15px;

  @media (max-width: 1024px) {
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}
