.main-block {
  padding: 0 var(--side-offset, 20px);
  margin: 0 auto;
  background: rgba(4, 24, 39, 0.5);
  background-image: url("../img/mainbackgroundtablet.png");
  // background-image: url("../img/mainbackgroundmobile.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  padding-top: 305px;
  padding-bottom: 280px;
  background-size: cover;

  @media (max-width: 1024px) {
    padding-top: 179px;
    padding-bottom: 207px;
  }

  @media (max-width: 768px) {
    padding-top: 151px;
    padding-bottom: 191px;
  }
}

.main-block h1 {
  margin: 0;
  margin-left: 125px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @media (max-width: 1024px) {
    font-size: 64px;
    line-height: 75px;
    margin-left: 0;
  }

  @media (max-width: 768px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-left: 0;
  }
}

.main-block p {
  margin-bottom: 45px;
  margin-top: 32px;
  margin-left: 125px;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: #f2f5f7;

  @media (max-width: 1024px) {
    margin-top: 0;
    margin-left: 0;
  }

  @media (max-width: 768px) {
    margin: 7px 0 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
  }
}

.main-block__button {
  max-width: 410px;
  font-family: $ff-accent;
  padding: 15px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  border: none;
  background: #00b2ff;
  border-radius: 3px;
  margin-top: 48px;
  margin-left: 125px;

  @media (max-width: 1024px) {
    margin-top: 60px;
    margin-left: 45px;
  }

  @media (max-width: 768px) {
    max-width: 270px;
    margin: 26px 0 0 0;
    padding: 10px 37px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
  }
}

.main-block__button-mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.main-block__button-tablet {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}
