.main-block {
  padding: 0 var(--side-offset, 20px);
  margin: 0 auto;
  background: rgba(4, 24, 39, 0.5);
  background-image: url("../img/mainbackgroundtablet.png");
  // background-image: url("../img/mainbackgroundmobile.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  padding-top: 305px;
  padding-bottom: 280px;
  background-size: cover;

  @media (max-width: 1024px) {}

  @media (max-width: 768px) {
    padding-top: 180px;
    padding-bottom: 205px;
  }
}

.main-block h1 {
  margin: 0;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @media (min-width: 768px) {
    margin-left: 21px;
    font-size: 64px;
    line-height: 75px;
  }

  @media (min-width: 1024px) {
    margin-left: 0;
    font-size: 80px;
    line-height: 94px;
  }
}

.main-block p {
  margin-bottom: 45px;
  margin-top: 8px;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #f2f5f7;

  @media (min-width: 768px) {
    margin-left: 21px;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 50px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 0;
    max-width: 680px;
    margin-left: 0;
    margin-top: 31px;
  }
}

.main-block__button {
  max-width: 270px;
  font-family: $ff-accent;
  padding: 12px 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  border: none;
  background: #00b2ff;
  border-radius: 3px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 21px;
    max-width: 410px;
    padding: 20px 25px;
    margin-top: 57px;
    margin-left: 66px;
    max-height: 55px;

    @media (min-width: 1024px) {
      margin-top: 46px;
      margin-left: 0;
    }
  }
}

.main-block__button-mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-block__button-tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
