.main-nav {
  padding: 0 var(--side-offset, 20px);
  width: 100%;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;

  @media (max-width: 1023px) {
    position: absolute;
  }
}

.main-nav__row {
  display: flex;
  padding-top: 30px;
  padding-bottom: 35px;

  @media (max-width: 1023px) {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @media (max-width: 768px) {
    padding: 10px 0 20px 0;
  }
}


.main-nav__link span {
  display: flex;
  font-weight: 400;
  line-height: 18px;
  color: #f2f5f7;
  align-items: center;
  transition: 300ms;

  &:hover {
    color: #00b3ff;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.main-nav__logo {
  margin-right: auto;

  @media (max-width: 768px) {
    margin-top: 5px;
  }
}

.main-nav__logo-icon {
  display: block;
}

.main-nav__logo-icon--mobile {
  display: none;
  margin-top: 15px;

  @media (max-width: 768px) {
    margin: 0;
    display: block;
  }
}

.main-nav__logo-icon--tablet {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: 54px;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.main-nav__list li + li {
  @media (max-width: 1023px) {
    margin-left: 20px;
  }
}

.main-nav__item {
  margin-right: 112px;
  margin-top: 5px;

  @media (max-width: 1440px) {
    margin-right: 0;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: flex;
}

.main-nav__icon {
  display: block;
  margin-right: 5px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}
