.products {
  padding: 0 var(--side-offset, 20px);
  background: #041827;
  background-size: cover;
  margin: 0 auto;
  padding-top: 55px;

  @media (max-width: 1024px) {
    padding-bottom: 0;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 86px;
  }
}

.products__title--mobile {
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140.62%;
  color: #FFFFFF;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.products__title--tablet {
  font-family: $ff-accent;
  font-style: normal;
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: #FFFFFF;

  @media (max-width: 1024px) {
    margin-top: 0;
    display: block;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  margin-top: 54px;
  padding-bottom: 144px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    padding-bottom: 75px;
    gap: 30px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 26px;
  }
}

.products__icon {
  display: block;

  @media (max-width: 1024px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 320px) {
    width: 40px;
    height: 40px;
  }
}

.products__card {
  background: rgba(4, 24, 39, 0.5);
  display: flex;
  width: 100%;
  height: 650px;

  &:last-child {
    margin: 0;
  }

  @media (max-width: 1024px) {
    max-width: 670px;
    flex-direction: row;
    height: 250px;
  }

  @media (max-width: 768px) {}
}

.products__name {
  font-family: $ff-accent;
  max-width: 203px;
  margin: 0;
  padding: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;

  @media (min-width: 768px) {
    max-width: 150px;
    padding: 0;
    font-size: 20px;
    margin-top: 37px;
    margin-left: 45px;
  }

  @media (min-width: 1024px) {
    max-width: 160px;
    margin-top: 47px;
    margin-left: 41px;
  }
}

.products__link {
  margin-top: auto;
  margin-left: auto;
  text-decoration: none;
}

.products__card--one {
  background-image: url("../img/card1desktop.png");


  @media (max-width: 1024px) {
    background-image: url("../img/card1tablet.png");
  }

  @media (max-width: 320px) {
    background-image: url("../img/card1.png");
  }
}

.products__card--two {
  background-image: url("../img/card2desktop.png");


  @media (max-width: 1024px) {
    background-image: url("../img/card2tablet.png");
  }

  @media (max-width: 320px) {
    background-image: url("../img/card2.png");
  }
}

.products__card--three {
  background-image: url("../img/card3desktop.png");


  @media (max-width: 1024px) {
    background-image: url("../img/card3tablet.png");
  }

  @media (max-width: 320px) {
    background-image: url("../img/card3.png");
  }
}
