.products {
  padding: 0 var(--side-offset, 20px);
  background: #041827;
  background-size: cover;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 144px;

  @media (max-width: 1024px) {
    padding-bottom: 75px;
  }

  @media (max-width: 768px) {
    padding-top: 45px;
    padding-bottom: 86px;
  }
}

.products__title--mobile {
  font-family: $ff-accent;
  font-weight: 400;
  font-size: 28px;
  line-height: 140.62%;
  color: #ffffff;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.products__title--tablet {
  font-family: $ff-accent;
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: #ffffff;

  @media (max-width: 1024px) {
    margin-top: 0;
    display: block;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  margin-top: 54px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    gap: 30px;
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 29px;
  }
}

.products__icon {
  display: block;

  @media (max-width: 1024px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 320px) {
    width: 40px;
    height: 40px;
  }
}

.products__card {
  background: rgba(4, 24, 39,);
  display: flex;
  width: 100%;
  height: 650px;

  &:last-child {
    margin: 0;
  }

  @media (max-width: 1024px) {
    max-width: 670px;
    flex-direction: row;
    height: 250px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.products__name {
  font-family: $ff-accent;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  max-width: 160px;
  margin-top: 47px;
  margin-left: 41px;

  @media (max-width: 1024px) {
    max-width: 150px;
    padding: 0;
    font-size: 20px;
    margin-top: 37px;
    margin-left: 45px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    max-width: none;
    margin: 27px 105px 0 30px;
  }
}

.products__link {
  margin-top: auto;
  margin-left: auto;
  text-decoration: none;
}

.products__card--one {
  background-image: image-set(
    url("../img/card/card1desktopx2.jpg") 2x,
    url("../img/card/card1desktop.png") 1x
  );


  @media (max-width: 1024px) {
    background-image: image-set(
      url("../img/card/card1tablet.png") 1x,
      url("../img/card/card1tabletx2.jpg") 2x
    );
  }

  @media (max-width: 320px) {
    background-image:image-set(
      url("../img/card/card1.png") 1x,
      url("../img/card/card1x2.jpg") 2x,
    );
  }
}

.products__card--two {
  background-image: image-set(
    url("../img/card/card2desktop.png") 1x,
    url("../img/card/card2desktopx2.jpg") 2x
  );


  @media (max-width: 1024px) {
    background-image: image-set(
      url("../img/card/card2tablet.png") 1x,
      url("../img/card/card2tabletx2.jpg") 2x
    );
  }

  @media (max-width: 320px) {
    background-image:image-set(
      url("../img/card/card2.png") 1x,
      url("../img/card/card2x2.jpg") 2x
    );
  }
}

.products__card--three {
  background-image: image-set(
    url("../img/card/card3desktop.png") 1x,
    url("../img/card/card3desktopx2.jpg") 2x
  );


  @media (max-width: 1024px) {
    background-image: image-set(
      url("../img/card/card3tablet.png") 1x,
      url("../img/card/card3tabletx2.jpg") 2x
    );
  }

  @media (max-width: 320px) {
    background-image:image-set(
      url("../img/card/card3.png") 1x,
      url("../img/card/card3x2.jpg") 2x
    );
  }
}
