@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto Condensed';
  font-display: swap;
  src:
    url("/source/fonts/RobotoCondensed-Regular.ttf") format("ttf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto Condensed';
  font-display: swap;
  src:
    url("/source/fonts/RobotoCondensed-Bold.ttf") format("ttf");
}
