input {
  width: 100%;
  padding: 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  max-width: 275px;

  &::placeholder {
    font-family: $ff-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    margin: 0;
    max-width: 320px;
  }

  @media (max-width: 768px) {
    max-width: none;
  }
}

textarea {
  padding: 24px 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  width: 100%;
  max-width: 580px;
  min-height: 155px;

  &::placeholder {
    font-family: $ff-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    max-width: 670px;
    padding: 29px 15px;
  }

  @media (max-width: 768px) {
    max-width: none;
    min-height: 180px;
    padding: 25px 15px;
  }
}

input[type="checkbox"] {
  width: auto;
  max-width: none;
}
